# cornix board configuration

# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_CORNIX_LEFT
    bool "Cornix Left"
    depends on SOC_SERIES_NRF52X

config BOARD_CORNIX_RIGHT
    bool "Cornix Right"
    depends on SOC_SERIES_NRF52X

config BOARD_CORNIX_PH_LEFT
    bool "Cornix PH Left"
    depends on SOC_SERIES_NRF52X
